//  IMPORTING ALL FILES REQUIRED
@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat:wght@400;600;700&family=Roboto&display=swap");

// Modifying the scroll bar to the theme
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #46464660;
  border-radius: 10px;
  margin-block: 10px;
}
::-webkit-scrollbar-thumb {
  background: #db202cda;
  border-radius: 10px;
  width: 10px;
  background: red;
  border: 1.5px rgba(255, 255, 255, 0) solid;
  background-clip: padding-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: var(--red-highlight);
}
::selection {
  font-weight: bolder;
  color: #fff;
  background: var(--red-highlight);
}

// CSS Variables
:root {
  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Graduate", cursive;
  --secondary-font: "Roboto", sans-serif;
  --background-color: #000505;
  --red-highlight: #db202c;
  font-size: 62.5%;
  color: white;
}

// Mixins for general components
@mixin primary-text {
  font-family: var(--primary-font);
  font-size: 1.6rem;
}
@mixin vertical-hr {
  border: none;
  border-top: 3px solid rgba(255, 255, 255, 0.568);
  width: 33px;
  transform: rotate(90deg);
}

@mixin heading {
  display: inline;
  font-weight: 600;
  margin-bottom: 0%;
  letter-spacing: 1.4px;
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--red-highlight);
}

// Styling the links at a single place
a {
  color: white;
  text-decoration: none;
  &:focus {
    color: white;
  }
  &:visited {
    color: white;
  }
}

// Navigation bar
nav.nav--hero {
  width: 100vw;
  height: 100px;
  z-index: 2;
  background-color: var(--background-color);
  position: sticky;
  box-sizing: border-box;
  padding: 0 5vw;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  top: 0px;
  justify-content: space-between;
  img.logo {
    height: 50px;
    transition: all 0.5s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
  ul {
    padding: 0;
    width: 30%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  li {
    font-weight: 600;
    font-size: 1.3rem;
    &:hover {
      cursor: pointer;
    }
  }
  hr {
    border: none;
    border-top: 2px solid #ffffff13;
    border-radius: 2px;
    top: 93px;
    left: 0px;
    position: sticky;
    width: 100%;
    position: absolute;
  }
  i {
    display: none;
  }
}

body {
  @include primary-text();
  height: 100%;
  width: 100vw;
  padding-left: 7vw;
  padding-right: 7vw;
  box-sizing: border-box;
  background-color: #000505;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='214' height='214' viewBox='0 0 100 100'%3E%3Cg stroke='%23000505' stroke-width='0' stroke-opacity='0.5'%3E%3Crect fill='%231A1A1A' x='-60' y='-60' width='61' height='240'/%3E%3C/g%3E%3C/svg%3E");
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  align-items: center;

  // ############## Error for small screens
  section.mobile--message {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #000505;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    p {
      @include primary-text();
      font-size: 2.5rem;
      width: 50vw;
      text-align: center;
    }
  }

  // ############## Loading screen ######
  section.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000505;
    z-index: 100;
    transition: opacity 1s ease;
    img {
      height: 70px;
      margin-bottom: 30px;
      animation-name: loader--blink;
      animation-timing-function: ease-in-out;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    @keyframes loader--blink {
      0% {
        opacity: 1;
      }
      20% {
        opacity: 0.5;
      }
      25% {
        opacity: 0.5;
      }
      50% {
        opacity: 1;
      }
      70% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
    div.loading--bar {
      border: 2px solid #fff;
      height: 15px;
      width: 200px;
      div.loading--inside {
        height: 15px;
        width: 0px;
        background-color: #db202c;
        animation-name: loading--animation;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
      }
    }
  }
  @keyframes loading--animation {
    0% {
      width: 0px;
    }
    25% {
      width: 50px;
    }
    50% {
      width: 150px;
    }
    100% {
      width: 200px;
    }
  }

  // ############## Page 1 ##############
  div.page--one {
    width: 100%;
    padding: 0px 5vw;
    min-height: 100vh;
    scroll-snap-align: start;
    position: relative;
    top: -100px;
    img.home--hero {
      width: fit-content;
      height: 48rem;
      object-fit: contain;
      top: 80px;
      right: 100px;
      position: absolute;
      text-shadow: -5px -5px 10px rgba(0, 0, 0, 0.493);
    }
    h1 {
      left: 50px;
      margin: 0;
      font-weight: 900;
      position: relative;
      top: 100px;
      font-family: var(--heading-font);
      font-size: 17.5rem;
      letter-spacing: 7px;
    }
    #main {
      transform: scale(0.7) !important;
      padding: 0px 20px;
      display: inline;
      background-color: var(--red-highlight);
    }
  }

  // ############## Page Two
  div.page--two {
    scroll-snap-align: start;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 2vw;
    img {
      transform: scale(0.9);
    }
    section.page--right {
      position: relative;
      padding-top: 30px;
      h2 {
        @include heading();
        padding: 0;
        span {
          font-weight: 300;
          margin: 0 25px;
        }
      }
      hr.vertical-hr {
        @include vertical-hr();
        position: absolute;
        top: 38px;
        left: 100px;
      }
      p {
        font-weight: 300;
        letter-spacing: 1.2px;
        font-size: 1.7rem;
        line-height: 30px;
      }
      span {
        color: rgba(255, 255, 255, 0.671);
        margin-right: 10px;
      }
      .list--villian {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          font-size: 4rem;
          color: #f5c518;
          padding: 0 10px;
        }
        hr {
          margin: 0%;
          padding: 0;
          @include vertical-hr();
          border-top-width: 2px;
          width: 20px;
        }
      }
    }
  }

  // ########### PAGE 3 ###################
  div.page--three,
  div.page--six {
    scroll-snap-align: start;

    width: 90%;
    padding: 10vh 2vw;
    position: relative;
    h2 {
      font-weight: 600;
      margin-bottom: 0%;
      letter-spacing: 1.4px;
      font-family: var(--secondary-font);
      font-size: 3rem;
      color: var(--red-highlight);
      span {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.671);
        margin: 0 25px;
      }
    }
    hr.vertical-hr {
      @include vertical-hr();
      position: absolute;
      top: 90px;
      left: 138px;
    }
    section.video--list {
      &::-webkit-scrollbar {
        height: 15px;
      }
      &::-webkit-scrollbar-thumb {
        border: 2px solid rgba(0, 0, 255, 0);
      }
      &::-webkit-scrollbar-track {
        margin-inline-end: 60vw;
        margin-inline-start: 2vw;
      }
      &::after {
        content: "";
        height: 100%;
        width: 30%;
        display: block;
        position: absolute;
        right: -10%;
        background-color: #000505;
        background: linear-gradient(
          90deg,
          rgba(0, 5, 5, 0) 0%,
          rgba(0, 5, 5, 1) 61%,
          rgba(0, 5, 5, 1) 100%
        );
      }
      padding-top: 25px;
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow-x: auto;
      scroll-snap-type: x proximity;
      scroll-behavior: smooth;
      article {
        height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        scroll-snap-align: start;
        img {
          height: 25rem;
          &:hover {
            cursor: grab;
          }
        }
        a {
          padding: 15px 0 10px 10px;
          @include primary-text();
          font-size: 1.6rem;
        }
      }
    }
  }

  div.page--four {
    scroll-snap-align: start;

    section.page--right {
      hr.vertical-hr {
        position: absolute;
        left: 150px;
      }
    }
  }

  section.divider--hero {
    width: 87%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #151616b2;
    backdrop-filter: blur(2px);
    padding: 0 25px;
    margin: 50px 0;

    img {
      height: 30px;
    }
    button {
      background-color: #db202c;
      color: #fff;
      border: none;
      padding: 8px 20px;
    }
  }

  // ########### PAGE 5 ###################
  div.page--five {
    scroll-snap-align: start;
    width: 90%;
    padding: 10vh 2vw;
    position: relative;
    h2 {
      font-weight: 600;
      margin-bottom: 0%;
      letter-spacing: 1.4px;
      font-family: var(--secondary-font);
      font-size: 3rem;
      color: var(--red-highlight);
      span {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.671);
        margin: 0 25px;
      }
    }
    hr.vertical-hr {
      @include vertical-hr();
      position: absolute;
      top: 90px;
      left: 138px;
    }
    section.video--list {
      &::-webkit-scrollbar {
        height: 15px;
      }
      &::-webkit-scrollbar-thumb {
        border: 2px solid rgba(0, 0, 255, 0);
      }
      &::-webkit-scrollbar-track {
        margin-inline-end: 60vw;
        margin-inline-start: 2vw;
      }
      &::after {
        content: "";
        height: 100%;
        width: 30%;
        display: block;
        position: absolute;
        right: -10%;
        background-color: #000505;
        background: linear-gradient(
          90deg,
          rgba(0, 5, 5, 0) 0%,
          rgba(0, 5, 5, 1) 61%,
          rgba(0, 5, 5, 1) 100%
        );
      }
      padding-top: 25px;
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow-x: auto;
      scroll-snap-type: x proximity;
      scroll-behavior: smooth;
      article {
        height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        scroll-snap-align: start;
        img {
          height: 40rem;
          height: 40rem;
          filter: saturate(2);
          &:hover {
            cursor: grab;
          }
        }
        a {
          padding: 15px 0 10px 10px;
          @include primary-text();
          font-size: 1.6rem;
        }
      }
    }
  }

  // ############# Uncommon properties for page six
  div.page--six {
    hr.vertical-hr {
      @include vertical-hr();
      left: 167px;
    }
    section.video--list {
      article {
        a {
          color: var(--red-highlight);
          font-size: 3rem;
          font-weight: 600;
        }
        p {
          @include primary-text();
          padding: 0 10px;
        }
      }
    }
  }

  // ####################################################
  //  Change the headings h2 for every page
  // ####################################################
  div.page--seven {
    width: 90%;
    padding: 10vh 2vw;
    position: relative;
    display: columns;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      @include heading();
      position: relative;
      width: 100%;
      span {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.671);
      }
    }
    h3 {
      font-size: 2rem;
      font-weight: 600;
    }
    div.wrapper--flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 30px 0;
    }
    section.subpage--left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    section.subpage--right {
      p {
        opacity: 0.7;
      }
    }
    div.cast--list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      li {
        opacity: 0.7;
        padding: 10px 20px 0 0;
        list-style-type: none;
      }
    }
  }

  // Footer
  div.footer--hero {
    min-height: 70vh;
    width: 100vw;
    background-color: #24231e78;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;

    div.social--handles {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      // width: 45vw;
      font-size: 3rem;
      i {
        padding: 30px 40px;
        opacity: 0.6;
        &:hover {
          cursor: pointer;
        }
      }
    }

    div.links--inline1,
    div.links--inline2 {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 50vw;
      li {
        &:hover {
          cursor: pointer;
        }
      }
    }
    div.links--inline1 {
      padding-top: 40px;
      width: 80vw;
    }
    div.few--words {
      width: 30%;
      line-height: 30px;
      text-align: center;
    }
  }
}

// Bella Ciao Tag
p.sticker {
  display: inline;
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 900;
  background-color: #a30a1ffd;
  padding: 5px 8px;
  position: fixed;
  top: 150px;
  right: -50px;
  transform: rotate(270deg);
  z-index: 5;
}

// Responsive code

@media screen and (max-width: 600px) {
  // Navigation pane
  nav.nav--hero {
    ul.right--list,
    ul.left--list {
      display: none;
      opacity: 0;
    }
    a,
    i {
      display: block;
      font-size: 7vw;
      align-self: center;
    }
    img.logo {
      height: 10vw;
    }
  }

  body {
    div.page--one {
      img.home--hero {
        display: none;
      }
      h1 {
        font-size: 20vw;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-y: hidden;
    section.mobile--message {
      opacity: 1;
      pointer-events: fill;
    }
  }
}

// <i class="fab fa-instagram"></i>
//         <i class="fab fa-facebook"></i>
//         <i class="fab fa-twitch"></i>
//         <i class="fab fa-twitter"></i>
//         <i class="fab fa-youtube"></i>

i.fa-instagram {
  transition: all 0.6s ease;
  &:hover {
    color: #f75c4d;
  }
}
i.fa-facebook {
  transition: all 0.6s ease;
  &:hover {
    color: rgb(2, 61, 255);
  }
}
i.fa-instagram {
  transition: all 0.6s ease;
  &:hover {
    color: #f75c4d;
  }
}
i.fa-instagram {
  transition: all 0.6s ease;
  &:hover {
    color: #f75c4d;
  }
}
