@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat:wght@400;600;700&family=Roboto&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #46464660;
  border-radius: 10px;
  margin-block: 10px;
}

::-webkit-scrollbar-thumb {
  background: #db202cda;
  border-radius: 10px;
  width: 10px;
  background: red;
  border: 1.5px rgba(255, 255, 255, 0) solid;
  background-clip: padding-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: var(--red-highlight);
}

::selection {
  font-weight: bolder;
  color: #fff;
  background: var(--red-highlight);
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Graduate", cursive;
  --secondary-font: "Roboto", sans-serif;
  --background-color: #000505;
  --red-highlight: #db202c;
  font-size: 62.5%;
  color: white;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

a:focus {
  color: white;
}

a:visited {
  color: white;
}

nav.nav--hero {
  width: 100vw;
  height: 100px;
  z-index: 2;
  background-color: var(--background-color);
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5vw;
  padding-top: 30px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.397);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.397);
}

nav.nav--hero img.logo {
  height: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav.nav--hero img.logo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

nav.nav--hero ul {
  padding: 0;
  width: 30%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.nav--hero a {
  font-weight: 600;
  font-size: 1.3rem;
}

nav.nav--hero a:hover {
  cursor: pointer;
}

nav.nav--hero hr {
  border: none;
  border-top: 2px solid #ffffff13;
  border-radius: 2px;
  top: 93px;
  left: 0px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  position: absolute;
}

nav.nav--hero i {
  display: none;
}

body.overflow--scroll {
  overflow: scroll;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  height: 100%;
  width: 100vw;
  padding-left: 7vw;
  padding-right: 7vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000505;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='214' height='214' viewBox='0 0 100 100'%3E%3Cg stroke='%23000505' stroke-width='0' stroke-opacity='0.5'%3E%3Crect fill='%231A1A1A' x='-60' y='-60' width='61' height='240'/%3E%3C/g%3E%3C/svg%3E");
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.review--hero {
  position: fixed;
  margin: 100px auto;
  z-index: 3;
  height: 400px;
  min-width: 60vw;
  border: 2px solid rgba(255, 255, 255, 0.432);
  background-color: #000505ea;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body section.review--hero h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

body section.review--hero form {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body section.review--hero form input {
  margin: 3px 100px;
  height: 24px;
  font-size: 16px;
  padding: 0 10px;
}

body section.review--hero form textarea {
  margin: 0 100px;
  text-align: left;
  padding: 8px 10px;
}

body section.review--hero form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section.review--hero form input.buttons {
  margin: 5px 120px;
  height: 40px;
  padding: 10px 120px;
  background-color: #db202c;
  color: white;
  border: none;
  font-size: 2rem;
}

body section.review--hero form input.buttons:hover {
  cursor: pointer;
}

body section.review--hero i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 10px 20px;
}

body section.review--hero i:hover {
  cursor: pointer;
}

body section.mobile--message {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #000505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
}

body section.mobile--message p {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-size: 2.5rem;
  width: 50vw;
  text-align: center;
}

body section.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000505;
  z-index: 100;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

body section.loading img {
  height: 70px;
  margin-bottom: 30px;
  -webkit-animation-name: loader--blink;
          animation-name: loader--blink;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes loader--blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    display: none;
  }
}

@keyframes loader--blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    display: none;
  }
}

body section.loading div.loading--bar {
  border: 2px solid #fff;
  height: 15px;
  width: 200px;
}

body section.loading div.loading--bar div.loading--inside {
  height: 15px;
  width: 0px;
  background-color: #db202c;
  -webkit-animation-name: loading--animation;
          animation-name: loading--animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loading--animation {
  0% {
    width: 0px;
  }
  25% {
    width: 50px;
  }
  50% {
    width: 150px;
  }
  100% {
    width: 200px;
  }
}

@keyframes loading--animation {
  0% {
    width: 0px;
  }
  25% {
    width: 50px;
  }
  50% {
    width: 150px;
  }
  100% {
    width: 200px;
  }
}

body div.page--one {
  width: 100%;
  padding: 0px 5vw;
  min-height: 100vh;
  scroll-snap-align: start;
  position: relative;
  top: -100px;
}

body div.page--one img.home--hero {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 48rem;
  -o-object-fit: contain;
     object-fit: contain;
  top: 80px;
  right: 100px;
  position: absolute;
  text-shadow: -5px -5px 10px rgba(0, 0, 0, 0.493);
}

body div.page--one h1 {
  left: 50px;
  margin: 0;
  font-weight: 900;
  position: relative;
  top: 100px;
  font-family: var(--heading-font);
  font-size: 17.5rem;
  letter-spacing: 7px;
}

body div.page--one #main {
  -webkit-transform: scale(0.7) !important;
          transform: scale(0.7) !important;
  padding: 0px 20px;
  display: inline;
  background-color: var(--red-highlight);
}

body div.page--two {
  scroll-snap-align: start;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 0 2vw;
  padding-top: 9rem;
}

body div.page--two img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body div.page--two section.page--right {
  position: relative;
  padding-top: 30px;
}

body div.page--two section.page--right h2 {
  display: inline;
  font-weight: 600;
  margin-bottom: 0%;
  letter-spacing: 1.4px;
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--red-highlight);
  padding: 0;
}

body div.page--two section.page--right h2 span {
  font-weight: 300;
}

body div.page--two section.page--right p {
  font-weight: 300;
  letter-spacing: 1.2px;
  font-size: 1.7rem;
  line-height: 30px;
}

body div.page--two section.page--right span {
  color: rgba(255, 255, 255, 0.671);
  margin-right: 10px;
}

body div.page--two section.page--right .list--villian {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.page--two section.page--right .list--villian i {
  font-size: 4rem;
  color: #f5c518;
  padding: 0 10px;
}

body div.page--three,
body div.page--six {
  scroll-snap-align: start;
  width: 90%;
  padding: 10vh 2vw;
  padding-top: 10rem;
  position: relative;
}

body div.page--three h2,
body div.page--six h2 {
  font-weight: 600;
  margin-bottom: 0%;
  letter-spacing: 1.4px;
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--red-highlight);
}

body div.page--three h2 span,
body div.page--six h2 span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.671);
}

body div.page--three section.video--list,
body div.page--six section.video--list {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  overflow-x: auto;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  scroll-behavior: smooth;
}

body div.page--three section.video--list::-webkit-scrollbar,
body div.page--six section.video--list::-webkit-scrollbar {
  height: 15px;
}

body div.page--three section.video--list::-webkit-scrollbar-thumb,
body div.page--six section.video--list::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 255, 0);
}

body div.page--three section.video--list::-webkit-scrollbar-track,
body div.page--six section.video--list::-webkit-scrollbar-track {
  -webkit-margin-end: 60vw;
          margin-inline-end: 60vw;
  -webkit-margin-start: 2vw;
          margin-inline-start: 2vw;
}

body div.page--three section.video--list::after,
body div.page--six section.video--list::after {
  content: "";
  height: 100%;
  width: 30%;
  display: block;
  position: absolute;
  right: -10%;
  background-color: #000505;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 5, 5, 0)), color-stop(61%, #000505), to(#000505));
  background: linear-gradient(90deg, rgba(0, 5, 5, 0) 0%, #000505 61%, #000505 100%);
}

body div.page--three section.video--list article,
body div.page--six section.video--list article {
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  scroll-snap-align: start;
}

body div.page--three section.video--list article img,
body div.page--six section.video--list article img {
  height: 25rem;
}

body div.page--three section.video--list article img:hover,
body div.page--six section.video--list article img:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

body div.page--three section.video--list article a,
body div.page--six section.video--list article a {
  padding: 15px 0 10px 10px;
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-size: 1.6rem;
}

body div.page--four {
  scroll-snap-align: start;
  padding-top: 10rem;
}

body section.divider--hero {
  width: 87%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #151616b2;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 0 25px;
  margin: 50px 0;
}

body section.divider--hero img {
  height: 30px;
}

body section.divider--hero button {
  background-color: #db202c;
  color: #fff;
  border: none;
  padding: 8px 20px;
}

body div.page--five {
  scroll-snap-align: start;
  width: 90%;
  padding: 10vh 2vw;
  padding-top: 10rem;
  position: relative;
}

body div.page--five h2 {
  font-weight: 600;
  margin-bottom: 0%;
  letter-spacing: 1.4px;
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--red-highlight);
}

body div.page--five h2 span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.671);
}

body div.page--five section.video--list {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  overflow-x: auto;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  scroll-behavior: smooth;
}

body div.page--five section.video--list::-webkit-scrollbar {
  height: 15px;
}

body div.page--five section.video--list::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 255, 0);
}

body div.page--five section.video--list::-webkit-scrollbar-track {
  -webkit-margin-end: 60vw;
          margin-inline-end: 60vw;
  -webkit-margin-start: 2vw;
          margin-inline-start: 2vw;
}

body div.page--five section.video--list::after {
  content: "";
  height: 100%;
  width: 30%;
  display: block;
  position: absolute;
  right: -10%;
  background-color: #000505;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 5, 5, 0)), color-stop(61%, #000505), to(#000505));
  background: linear-gradient(90deg, rgba(0, 5, 5, 0) 0%, #000505 61%, #000505 100%);
}

body div.page--five section.video--list article {
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  scroll-snap-align: start;
}

body div.page--five section.video--list article img {
  height: 40rem;
  height: 40rem;
  -webkit-filter: saturate(2);
          filter: saturate(2);
}

body div.page--five section.video--list article img:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

body div.page--five section.video--list article a {
  padding: 15px 0 10px 10px;
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-size: 1.6rem;
}

body div.page--six section.video--list article a {
  color: var(--red-highlight);
  font-size: 3rem;
  font-weight: 600;
}

body div.page--six section.video--list article p {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  padding: 0 10px;
}

body div.page--seven {
  width: 90%;
  padding: 10vh 2vw;
  position: relative;
  display: columns;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body div.page--seven h2 {
  display: inline;
  font-weight: 600;
  margin-bottom: 0%;
  letter-spacing: 1.4px;
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--red-highlight);
  position: relative;
  width: 100%;
}

body div.page--seven h2 span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.671);
}

body div.page--seven h3 {
  font-size: 2rem;
  font-weight: 600;
}

body div.page--seven div.wrapper--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

body div.page--seven section.subpage--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body div.page--seven section.subpage--right p {
  opacity: 0.7;
}

body div.page--seven div.cast--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body div.page--seven div.cast--list li {
  opacity: 0.7;
  padding: 10px 20px 0 0;
  list-style-type: none;
}

body div.footer--hero {
  min-height: 70vh;
  width: 100vw;
  background-color: #24231e78;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
}

body div.footer--hero div.social--handles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 3rem;
}

body div.footer--hero div.social--handles i {
  padding: 30px 40px;
  opacity: 0.6;
}

body div.footer--hero div.social--handles i:hover {
  cursor: pointer;
}

body div.footer--hero div.links--inline1,
body div.footer--hero div.links--inline2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50vw;
}

body div.footer--hero div.links--inline1 li:hover,
body div.footer--hero div.links--inline2 li:hover {
  cursor: pointer;
}

body div.footer--hero div.links--inline1 {
  padding-top: 40px;
  width: 80vw;
}

body div.footer--hero div.few--words {
  width: 30%;
  line-height: 30px;
  text-align: center;
}

p.sticker {
  display: inline;
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 900;
  background-color: #a30a1ffd;
  padding: 5px 8px;
  position: fixed;
  top: 150px;
  right: -50px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  z-index: 5;
}

@media screen and (max-width: 600px) {
  nav.nav--hero ul.right--list,
  nav.nav--hero ul.left--list {
    display: none;
    opacity: 0;
  }
  nav.nav--hero a,
  nav.nav--hero i {
    display: block;
    font-size: 7vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  nav.nav--hero img.logo {
    height: 10vw;
  }
  body div.page--one img.home--hero {
    display: none;
  }
  body div.page--one h1 {
    font-size: 20vw;
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-y: hidden;
  }
  body section.mobile--message {
    opacity: 1;
    pointer-events: fill;
  }
}

i.fa-instagram {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

i.fa-instagram:hover {
  color: #f75c4d;
}

i.fa-facebook {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

i.fa-facebook:hover {
  color: #023dff;
}

i.fa-instagram {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

i.fa-instagram:hover {
  color: #f75c4d;
}

i.fa-instagram {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

i.fa-instagram:hover {
  color: #f75c4d;
}
/*# sourceMappingURL=styles.css.map */